--
-- PostgreSQL database dump
--

\restrict kQUIYag6s9bCzuFRBatNP3r5bz756U4y3E7BCyMec4z6xqPdEakFzm0RVOCUVOZ

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: DocumentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DocumentStatus" AS ENUM (
    'uploaded',
    'accepted',
    'rejected'
);


--
-- Name: PracticeStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PracticeStatus" AS ENUM (
    'draft',
    'submitted',
    'needs_revision',
    'approved',
    'rejected',
    'completed'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'student',
    'curator',
    'admin',
    'company'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: companies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    inn character varying(16),
    address character varying(255),
    contact_person character varying(255),
    contact_phone character varying(32),
    owner_user_id integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    description text,
    is_verified boolean DEFAULT false NOT NULL,
    website character varying(255)
);


--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: curators; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.curators (
    id integer NOT NULL,
    user_id integer NOT NULL,
    "position" character varying(128),
    department character varying(128),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: curators_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.curators_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: curators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.curators_id_seq OWNED BY public.curators.id;


--
-- Name: diary_entries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.diary_entries (
    id integer NOT NULL,
    practice_id integer NOT NULL,
    entry_date date NOT NULL,
    content text NOT NULL,
    created_by integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: diary_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.diary_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: diary_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.diary_entries_id_seq OWNED BY public.diary_entries.id;


--
-- Name: document_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_types (
    id integer NOT NULL,
    code character varying(32) NOT NULL,
    name character varying(128) NOT NULL,
    is_required boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: document_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.document_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: document_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.document_types_id_seq OWNED BY public.document_types.id;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    id integer NOT NULL,
    practice_id integer NOT NULL,
    document_type_id integer NOT NULL,
    file_key character varying(512) NOT NULL,
    original_name character varying(255),
    status public."DocumentStatus" DEFAULT 'uploaded'::public."DocumentStatus" NOT NULL,
    review_comment text,
    uploaded_by integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.documents_id_seq OWNED BY public.documents.id;


--
-- Name: group_curators; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_curators (
    id integer NOT NULL,
    group_id integer NOT NULL,
    curator_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: group_curators_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.group_curators_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: group_curators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.group_curators_id_seq OWNED BY public.group_curators.id;


--
-- Name: groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.groups (
    id integer NOT NULL,
    specialty_id integer NOT NULL,
    name character varying(64) NOT NULL,
    course integer,
    enrollment_year integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.groups_id_seq OWNED BY public.groups.id;


--
-- Name: institutions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.institutions (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(64),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: institutions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.institutions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: institutions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.institutions_id_seq OWNED BY public.institutions.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type character varying(64) NOT NULL,
    title character varying(255) NOT NULL,
    body text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    link character varying(512),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: offer_reviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.offer_reviews (
    id integer NOT NULL,
    offer_id integer NOT NULL,
    practice_id integer NOT NULL,
    student_id integer NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: offer_reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.offer_reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: offer_reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.offer_reviews_id_seq OWNED BY public.offer_reviews.id;


--
-- Name: offer_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.offer_templates (
    id integer NOT NULL,
    offer_id integer NOT NULL,
    document_type_id integer NOT NULL,
    file_key character varying(512) NOT NULL,
    prefilled_fields jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: offer_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.offer_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: offer_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.offer_templates_id_seq OWNED BY public.offer_templates.id;


--
-- Name: practice_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practice_comments (
    id integer NOT NULL,
    practice_id integer NOT NULL,
    user_id integer NOT NULL,
    content text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: practice_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.practice_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: practice_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.practice_comments_id_seq OWNED BY public.practice_comments.id;


--
-- Name: practice_offers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practice_offers (
    id integer NOT NULL,
    company_id integer NOT NULL,
    practice_type_id integer NOT NULL,
    period_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    slots_total integer NOT NULL,
    slots_taken integer DEFAULT 0 NOT NULL,
    created_by integer NOT NULL,
    is_published boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    direction character varying(128)
);


--
-- Name: practice_offers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.practice_offers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: practice_offers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.practice_offers_id_seq OWNED BY public.practice_offers.id;


--
-- Name: practice_periods; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practice_periods (
    id integer NOT NULL,
    name character varying(128) NOT NULL,
    date_start date NOT NULL,
    date_end date NOT NULL,
    is_open boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: practice_periods_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.practice_periods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: practice_periods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.practice_periods_id_seq OWNED BY public.practice_periods.id;


--
-- Name: practice_reviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practice_reviews (
    id integer NOT NULL,
    practice_id integer NOT NULL,
    curator_id integer NOT NULL,
    old_status character varying(32) NOT NULL,
    new_status character varying(32) NOT NULL,
    comment text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: practice_reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.practice_reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: practice_reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.practice_reviews_id_seq OWNED BY public.practice_reviews.id;


--
-- Name: practice_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practice_types (
    id integer NOT NULL,
    code character varying(32) NOT NULL,
    name character varying(128) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: practice_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.practice_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: practice_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.practice_types_id_seq OWNED BY public.practice_types.id;


--
-- Name: practices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practices (
    id integer NOT NULL,
    student_id integer NOT NULL,
    practice_type_id integer NOT NULL,
    period_id integer NOT NULL,
    offer_id integer,
    company_id integer,
    custom_place character varying(255),
    date_start date,
    date_end date,
    status public."PracticeStatus" DEFAULT 'draft'::public."PracticeStatus" NOT NULL,
    grade character varying(16),
    submitted_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: practices_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.practices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: practices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.practices_id_seq OWNED BY public.practices.id;


--
-- Name: specialties; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.specialties (
    id integer NOT NULL,
    institution_id integer NOT NULL,
    code character varying(32),
    name character varying(255) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: specialties_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.specialties_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: specialties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.specialties_id_seq OWNED BY public.specialties.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.students (
    id integer NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL,
    record_book_no character varying(32),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role public."UserRole" NOT NULL,
    phone character varying(32),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: curators id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curators ALTER COLUMN id SET DEFAULT nextval('public.curators_id_seq'::regclass);


--
-- Name: diary_entries id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.diary_entries ALTER COLUMN id SET DEFAULT nextval('public.diary_entries_id_seq'::regclass);


--
-- Name: document_types id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_types ALTER COLUMN id SET DEFAULT nextval('public.document_types_id_seq'::regclass);


--
-- Name: documents id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents ALTER COLUMN id SET DEFAULT nextval('public.documents_id_seq'::regclass);


--
-- Name: group_curators id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_curators ALTER COLUMN id SET DEFAULT nextval('public.group_curators_id_seq'::regclass);


--
-- Name: groups id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups ALTER COLUMN id SET DEFAULT nextval('public.groups_id_seq'::regclass);


--
-- Name: institutions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.institutions ALTER COLUMN id SET DEFAULT nextval('public.institutions_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: offer_reviews id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_reviews ALTER COLUMN id SET DEFAULT nextval('public.offer_reviews_id_seq'::regclass);


--
-- Name: offer_templates id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_templates ALTER COLUMN id SET DEFAULT nextval('public.offer_templates_id_seq'::regclass);


--
-- Name: practice_comments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_comments ALTER COLUMN id SET DEFAULT nextval('public.practice_comments_id_seq'::regclass);


--
-- Name: practice_offers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_offers ALTER COLUMN id SET DEFAULT nextval('public.practice_offers_id_seq'::regclass);


--
-- Name: practice_periods id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_periods ALTER COLUMN id SET DEFAULT nextval('public.practice_periods_id_seq'::regclass);


--
-- Name: practice_reviews id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_reviews ALTER COLUMN id SET DEFAULT nextval('public.practice_reviews_id_seq'::regclass);


--
-- Name: practice_types id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_types ALTER COLUMN id SET DEFAULT nextval('public.practice_types_id_seq'::regclass);


--
-- Name: practices id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices ALTER COLUMN id SET DEFAULT nextval('public.practices_id_seq'::regclass);


--
-- Name: specialties id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.specialties ALTER COLUMN id SET DEFAULT nextval('public.specialties_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: curators; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.curators (id, user_id, "position", department, created_at, updated_at) FROM stdin;
1	2	Преподаватель информатики	Кафедра информационных технологий	2026-06-17 06:56:58.022	2026-06-17 06:56:58.022
2	5	Преподаватель правовых дисциплин	Кафедра юриспруденции	2026-06-19 10:07:18.43	2026-06-19 10:07:18.43
3	4	Преподаватель экономики	Кафедра экономики	2026-06-19 10:07:18.43	2026-06-19 10:07:18.43
4	6	Преподаватель менеджмента	Кафедра управления	2026-06-19 10:07:18.43	2026-06-19 10:07:18.43
\.


--
-- Data for Name: diary_entries; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.diary_entries (id, practice_id, entry_date, content, created_by, created_at, updated_at) FROM stdin;
2	9	2026-06-10	1231231	3	2026-06-18 06:03:00.46	2026-06-18 06:03:00.46
3	10	2026-06-03	123	3	2026-06-19 09:30:12.386	2026-06-19 09:30:12.386
\.


--
-- Data for Name: document_types; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.document_types (id, code, name, is_required, created_at, updated_at) FROM stdin;
1	contract	Договор	t	2026-06-17 06:56:58.001	2026-06-17 06:56:58.001
2	referral	Направление	t	2026-06-17 06:56:58.001	2026-06-17 06:56:58.001
3	diary	Дневник практики	t	2026-06-17 06:56:58.001	2026-06-17 06:56:58.001
4	report	Отчёт о практике	t	2026-06-17 06:56:58.001	2026-06-17 06:56:58.001
5	reference	Характеристика с места практики	f	2026-06-17 06:56:58.001	2026-06-17 06:56:58.001
6	attestation	Аттестационный лист	t	2026-06-17 06:56:58.001	2026-06-17 06:56:58.001
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.documents (id, practice_id, document_type_id, file_key, original_name, status, review_comment, uploaded_by, created_at, updated_at) FROM stdin;
8	10	4	practices/ИСП-31/Петров_Пётр_Петрович/Учебная_практика_осень_2026/68c77151-1950-4308-8133-8a38e170ab89-Отчёт_о_практике.doc	Отзыв руководителя.doc	accepted	\N	3	2026-06-19 09:30:02.093	2026-06-19 09:31:52.109
\.


--
-- Data for Name: group_curators; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.group_curators (id, group_id, curator_id, created_at) FROM stdin;
1	1	1	2026-06-17 06:56:58.028
2	2	3	2026-06-19 10:07:18.442
3	3	2	2026-06-19 10:07:18.456
4	4	4	2026-06-19 10:07:18.465
\.


--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.groups (id, specialty_id, name, course, enrollment_year, created_at, updated_at) FROM stdin;
1	1	ИСП-31	3	2023	2026-06-17 06:56:58.017	2026-06-17 06:56:58.017
2	2	ЭК-21	2	2024	2026-06-19 10:07:18.398	2026-06-19 10:07:18.398
3	3	ЮР-31	3	2023	2026-06-19 10:07:18.406	2026-06-19 10:07:18.406
4	4	МНЖ-21	2	2024	2026-06-19 10:07:18.41	2026-06-19 10:07:18.41
\.


--
-- Data for Name: institutions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.institutions (id, name, short_name, created_at, updated_at) FROM stdin;
1	Технический колледж информационных технологий	ТКИТ	2026-06-17 06:56:58.006	2026-06-17 06:56:58.006
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: offer_reviews; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: offer_templates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.offer_templates (id, offer_id, document_type_id, file_key, prefilled_fields, created_at) FROM stdin;
\.


--
-- Data for Name: practice_comments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.practice_comments (id, practice_id, user_id, content, created_at, updated_at) FROM stdin;
2	10	3	привет!	2026-06-19 09:30:25.332	2026-06-19 09:30:25.332
\.


--
-- Data for Name: practice_offers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: practice_periods; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.practice_periods (id, name, date_start, date_end, is_open, created_at, updated_at) FROM stdin;
2	Учебная практика, осень 2026	2026-09-01	2026-09-30	t	2026-06-17 06:56:58.066	2026-06-17 06:56:58.066
1	Производственная практика, лето 2026	2026-06-01	2026-07-31	t	2026-06-17 06:56:58.06	2026-06-18 06:41:45.517
\.


--
-- Data for Name: practice_reviews; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.practice_reviews (id, practice_id, curator_id, old_status, new_status, comment, created_at) FROM stdin;
12	10	1	submitted	approved	\N	2026-06-19 09:32:08.007
13	10	1	approved	completed	Выставлена оценка: 5	2026-06-19 09:32:34.17
\.


--
-- Data for Name: practice_types; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.practice_types (id, code, name, created_at, updated_at) FROM stdin;
1	educational	Учебная практика	2026-06-17 06:56:57.998	2026-06-17 06:56:57.998
2	industrial	Производственная практика	2026-06-17 06:56:57.998	2026-06-17 06:56:57.998
3	pre_diploma	Преддипломная практика	2026-06-17 06:56:57.998	2026-06-17 06:56:57.998
\.


--
-- Data for Name: practices; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: specialties; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.specialties (id, institution_id, code, name, created_at, updated_at) FROM stdin;
1	1	09.02.07	Информационные системы и программирование	2026-06-17 06:56:58.011	2026-06-17 06:56:58.011
2	1	38.02.01	Экономика и бухгалтерский учёт	2026-06-19 10:07:18.371	2026-06-19 10:07:18.371
3	1	40.02.01	Право и организация социального обеспечения	2026-06-19 10:07:18.388	2026-06-19 10:07:18.388
4	1	38.02.07	Банковское дело и менеджмент	2026-06-19 10:07:18.393	2026-06-19 10:07:18.393
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.companies_id_seq', 9, true);


--
-- Name: curators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.curators_id_seq', 4, true);


--
-- Name: diary_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.diary_entries_id_seq', 3, true);


--
-- Name: document_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.document_types_id_seq', 6, true);


--
-- Name: documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.documents_id_seq', 8, true);


--
-- Name: group_curators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.group_curators_id_seq', 4, true);


--
-- Name: groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.groups_id_seq', 4, true);


--
-- Name: institutions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.institutions_id_seq', 1, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.notifications_id_seq', 21, true);


--
-- Name: offer_reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.offer_reviews_id_seq', 4, true);


--
-- Name: offer_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.offer_templates_id_seq', 1, false);


--
-- Name: practice_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.practice_comments_id_seq', 2, true);


--
-- Name: practice_offers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.practice_offers_id_seq', 19, true);


--
-- Name: practice_periods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.practice_periods_id_seq', 2, true);


--
-- Name: practice_reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.practice_reviews_id_seq', 13, true);


--
-- Name: practice_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.practice_types_id_seq', 3, true);


--
-- Name: practices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.practices_id_seq', 22, true);


--
-- Name: specialties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.specialties_id_seq', 4, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.students_id_seq', 12, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 17, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: curators curators_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curators
    ADD CONSTRAINT curators_pkey PRIMARY KEY (id);


--
-- Name: diary_entries diary_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.diary_entries
    ADD CONSTRAINT diary_entries_pkey PRIMARY KEY (id);


--
-- Name: document_types document_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: group_curators group_curators_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_curators
    ADD CONSTRAINT group_curators_pkey PRIMARY KEY (id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: institutions institutions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.institutions
    ADD CONSTRAINT institutions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: offer_reviews offer_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_reviews
    ADD CONSTRAINT offer_reviews_pkey PRIMARY KEY (id);


--
-- Name: offer_templates offer_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_templates
    ADD CONSTRAINT offer_templates_pkey PRIMARY KEY (id);


--
-- Name: practice_comments practice_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_comments
    ADD CONSTRAINT practice_comments_pkey PRIMARY KEY (id);


--
-- Name: practice_offers practice_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_offers
    ADD CONSTRAINT practice_offers_pkey PRIMARY KEY (id);


--
-- Name: practice_periods practice_periods_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_periods
    ADD CONSTRAINT practice_periods_pkey PRIMARY KEY (id);


--
-- Name: practice_reviews practice_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_reviews
    ADD CONSTRAINT practice_reviews_pkey PRIMARY KEY (id);


--
-- Name: practice_types practice_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_types
    ADD CONSTRAINT practice_types_pkey PRIMARY KEY (id);


--
-- Name: practices practices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices
    ADD CONSTRAINT practices_pkey PRIMARY KEY (id);


--
-- Name: specialties specialties_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.specialties
    ADD CONSTRAINT specialties_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: companies_owner_user_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX companies_owner_user_id_key ON public.companies USING btree (owner_user_id);


--
-- Name: curators_user_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX curators_user_id_key ON public.curators USING btree (user_id);


--
-- Name: diary_entries_practice_id_entry_date_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX diary_entries_practice_id_entry_date_key ON public.diary_entries USING btree (practice_id, entry_date);


--
-- Name: document_types_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX document_types_code_key ON public.document_types USING btree (code);


--
-- Name: group_curators_group_id_curator_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX group_curators_group_id_curator_id_key ON public.group_curators USING btree (group_id, curator_id);


--
-- Name: notifications_user_id_is_read_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notifications_user_id_is_read_idx ON public.notifications USING btree (user_id, is_read);


--
-- Name: offer_reviews_offer_id_student_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX offer_reviews_offer_id_student_id_key ON public.offer_reviews USING btree (offer_id, student_id);


--
-- Name: offer_reviews_practice_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX offer_reviews_practice_id_key ON public.offer_reviews USING btree (practice_id);


--
-- Name: practice_types_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX practice_types_code_key ON public.practice_types USING btree (code);


--
-- Name: students_user_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX students_user_id_key ON public.students USING btree (user_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: companies companies_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: curators curators_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curators
    ADD CONSTRAINT curators_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: diary_entries diary_entries_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.diary_entries
    ADD CONSTRAINT diary_entries_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: diary_entries diary_entries_practice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.diary_entries
    ADD CONSTRAINT diary_entries_practice_id_fkey FOREIGN KEY (practice_id) REFERENCES public.practices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents documents_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documents documents_practice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_practice_id_fkey FOREIGN KEY (practice_id) REFERENCES public.practices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents documents_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: group_curators group_curators_curator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_curators
    ADD CONSTRAINT group_curators_curator_id_fkey FOREIGN KEY (curator_id) REFERENCES public.curators(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: group_curators group_curators_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_curators
    ADD CONSTRAINT group_curators_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: groups groups_specialty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_specialty_id_fkey FOREIGN KEY (specialty_id) REFERENCES public.specialties(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: offer_reviews offer_reviews_offer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_reviews
    ADD CONSTRAINT offer_reviews_offer_id_fkey FOREIGN KEY (offer_id) REFERENCES public.practice_offers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: offer_reviews offer_reviews_practice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_reviews
    ADD CONSTRAINT offer_reviews_practice_id_fkey FOREIGN KEY (practice_id) REFERENCES public.practices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: offer_reviews offer_reviews_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_reviews
    ADD CONSTRAINT offer_reviews_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: offer_templates offer_templates_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_templates
    ADD CONSTRAINT offer_templates_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: offer_templates offer_templates_offer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.offer_templates
    ADD CONSTRAINT offer_templates_offer_id_fkey FOREIGN KEY (offer_id) REFERENCES public.practice_offers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_comments practice_comments_practice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_comments
    ADD CONSTRAINT practice_comments_practice_id_fkey FOREIGN KEY (practice_id) REFERENCES public.practices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: practice_comments practice_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_comments
    ADD CONSTRAINT practice_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_offers practice_offers_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_offers
    ADD CONSTRAINT practice_offers_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_offers practice_offers_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_offers
    ADD CONSTRAINT practice_offers_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_offers practice_offers_period_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_offers
    ADD CONSTRAINT practice_offers_period_id_fkey FOREIGN KEY (period_id) REFERENCES public.practice_periods(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_offers practice_offers_practice_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_offers
    ADD CONSTRAINT practice_offers_practice_type_id_fkey FOREIGN KEY (practice_type_id) REFERENCES public.practice_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_reviews practice_reviews_curator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_reviews
    ADD CONSTRAINT practice_reviews_curator_id_fkey FOREIGN KEY (curator_id) REFERENCES public.curators(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practice_reviews practice_reviews_practice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practice_reviews
    ADD CONSTRAINT practice_reviews_practice_id_fkey FOREIGN KEY (practice_id) REFERENCES public.practices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: practices practices_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices
    ADD CONSTRAINT practices_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: practices practices_offer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices
    ADD CONSTRAINT practices_offer_id_fkey FOREIGN KEY (offer_id) REFERENCES public.practice_offers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: practices practices_period_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices
    ADD CONSTRAINT practices_period_id_fkey FOREIGN KEY (period_id) REFERENCES public.practice_periods(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practices practices_practice_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices
    ADD CONSTRAINT practices_practice_type_id_fkey FOREIGN KEY (practice_type_id) REFERENCES public.practice_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: practices practices_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practices
    ADD CONSTRAINT practices_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: specialties specialties_institution_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.specialties
    ADD CONSTRAINT specialties_institution_id_fkey FOREIGN KEY (institution_id) REFERENCES public.institutions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: students students_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: students students_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict kQUIYag6s9bCzuFRBatNP3r5bz756U4y3E7BCyMec4z6xqPdEakFzm0RVOCUVOZ

